{% extends "base.html" %}
{% block content %}
<div class="head">
    <div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Books</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Books</span>
</div>

<div class="col-div-6">
</div>
<div class="clearfix"></div>
</div>
<div class="col-div-8">
    <div class="box-8">
        <div class="content-box">
            <p>Recent Added Books <span>Sell All</span></p>
            <br>
        </div>
        <table>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
        </table>
    </div>
</div>


{% endblock content %}