{% extends "base.html" %}
{% block content %}
    <div class="head">
        <div class="col-div-6">
    <span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Reservation</span>
    <span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Reservation</span>
    </div>
    <div class="col-div-8" style="margin-top: 15vh;">
        <div class="box-8 Table">
            <div class="content-box">
                <p>
                    <span style="display: inline;float:left;">Recent Added Books</span><br>
                    <div class="tdata">
                        <button class="prevbtn">Prev</button>
                        <p class="Elem">0-20/0</p>
                        <button class="nextbtn">Next</button>
                    </div>
                </p>
            </div>
            <br>
            <div style="overflow-y:scroll;height:46.5vh;">
                <table class="tableData">
                    <tr>
                    <th>Full Name</th>
                    <th>Cin</th>
                    <th>Book Title</th>
                    <th>Validation</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<script>
    var Data = JSON.parse('{{ Data | tojson | safe}}');
</script>
<script src="{{ url_for('static',filename='Data.js') }}"></script>
{% endblock content %}